.owl-carousel .owl-stage{display: flex;}
.owl-carousel .item {
  border: 1px solid #ffc107;
  border-radius: 10px;
  background-color: #2C3049;
  flex: 1 0 auto;
  height: 100%;
}

.owl-carousel .item .row {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.owl-carousel .owl-nav button span {
    font-weight: 600;
}
.owl-carousel .owl-nav button.owl-prev, 
.owl-carousel .owl-nav button.owl-next {
    padding: 1vh 1vw !important;
    margin: auto .5vw;
    border: 1px solid #ffc107;
    color: #ccc;
    border-radius: 8px;
}
.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: 0;
    top: -7vh;
}
.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    right: 7vh;
    top: -7vh;
}
@media only screen and (max-width: 1280px) {
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        position: unset;
        margin: 0 15px;
    }
    .owl-carousel .owl-nav {
        padding: 5px 0 0 0;
        text-align: center;
    }
  }