@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font: normal 100% "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font: normal 100% "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: .5vw;
}

::-webkit-scrollbar-track {
  background: #555;
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  background: #066892;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #054966;
}

.header {
  height: 50%;
}
canvas {
  display: block;
  height: 70% !important;
}
#particles-js {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(35, 38, 55);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  /* position: relative; */
}
nav.navbar {
  z-index: 999;
}
.page-top-navigation {
  width: 90%;
  margin: auto auto;
}
.navbar-brand {
  font-size: 2rem;
  font-weight: 6 00;
}
.page-top-navigation-icon {
  filter: invert(76%) sepia(86%) saturate(2043%) hue-rotate(352deg)
    brightness(106%) contrast(104%);
  height: 4vh;
  width: 4vh;
}
.header-description {
  position: absolute;
  z-index: 9;
  color: #fff;
  top: 50%;
  left: 15%;
  transform: translate(-20%, -50%);
  cursor: default;
}
.head-desc-intro {
  color: #ffc107;
  font-size: 1.5rem;
}
.head-desc-name {
  color: #fff;
  font-size: 3.5rem;
}
.head-desc-designation {
  color: #fff;
  font-size: 1.5rem;
}
.header-image {
  position: absolute;
  background-image: url("/Asset/Images/Inserts/me.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9;
  bottom: 0;
  right: 10%;
  cursor: default;
  height: 50vh;
  width: 50vh;
  filter: grayscale(0.7) brightness(0.7);
}

#pills-tab {
  height: 5vh;
}
.main-short-description {
  background-color: #1f2233;
}
.main-tabpanel-container {
  background-color: #313550;
  padding: 0;
}
.main-desc-panel img {
  width: 100%;
}
.desc-text {
  padding: 5vh 3vw;
  text-align: justify;
}
.desc-text-top {
  color: #ffc107;
  font-size: 1.2rem;
}
.desc-text-header {
  color: #fff;
  font-size: 2rem;
}
.desc-text-details {
  color: #ccc;
  font-size: 1rem;
}
.desc-text-details b {
  color: #ffc107;
}

.testimonials {
  background-color: #22273b;
  padding: 7vh 0;
}

.testimonials-container {
  width: 70%;
  margin: auto auto;
  position: relative;
}

.tm-card-head {
  display: flex;
  justify-content: space-between;
}
.tm-card-header-author {
  display: inline-flex;
}
.avatar {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  margin: 1vh;
  padding: .5vh;
  border: 2px dashed #ccc;
  transition-duration: .2s;
  transition-timing-function: linear;
}
.avatar:hover {
  padding: .25vh;
  border: 2px dotted #fff;
}
.avatar img {
  border-radius: 50%;
}
.tm-author-details {
  margin: 1vh 0 auto;
}
.tm-author-details span {
  font-size: 1.5rem;
  color: #ccc;
}
.tm-author-details small {
  font-size: 1rem;
  color: #ffc107;
}
.quote-icon .iconify {
  height: 8vh;
  width: 8vh;
  color: #000;
  padding: 1vh;
}

.tm-card-body {
  padding: 1vh 1vw;
  text-align: justify;
  color: #ccc;
  font-style: italic;
}


.contact-section {
  background-color: #202334;
  padding: 7vh 0;
}
.contact-slabs {
  width: 70%;
  margin: auto auto;
}
.section-info {
  padding: 0 0 2vh 0;
}
.section-info small {
  font-size: 1rem;
  color: #ffc107;
}
.section-info span {
  font-size: 2rem;
  color: #ccc;
  font-weight: 600;
}
.contact-cards-container {
  width: 100%;
}
.contact-card {
  background-color: #2c304b;
  border: 1px solid #f6c783;
  margin: 1vw;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.contact-card-column-text,
.contact-card-column-logo {
  padding: 1vh 1vw;
}
.contact-media-name {
  color: #ccc;
  font-size: 2rem;
  font-weight: 600;
}
.contact-media-description {
  color: #ffc107;
  font-size: 1rem;
}
.contact-card-column-logo .iconify {
  height: 3rem;
  width: 3rem;
  color: #000;
}
.contact-card:hover {
  background-color: rgba(246, 199, 131, 0.9);
}
.contact-card:hover .contact-media-name {
  color: #000;
}
.contact-card:hover .contact-media-description {
  color: #555;
}

footer {
  background-color: #333450;
  text-align: center;
  padding: 2vh 1vw;
}
footer .col-sm-1:first-child,
footer .col-sm-1:last-child {
  background-image: url('../Images/square-dots.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-brand {
  color: #ccc;
  font-size: 2rem;
  text-decoration: none;
}
.footer-brand object {
  height: 8vh;
  filter: invert(76%) sepia(86%) saturate(2043%) hue-rotate(352deg)
    brightness(106%) contrast(104%);
}
.footer-menu-rebase h1{
  color: #ccc;
  transition-duration: .2s;
  transition-timing-function: linear;
  letter-spacing: normal;
  cursor: default;
}
.footer-menu-rebase h1:hover {
  letter-spacing: 2vw;
  color: #ffc107;
}
.menu-rebase {
  display: flex;
  justify-content: space-evenly;
  margin: 4vh auto;
}
.footer-menu-rebase a {
  color: #ccc;
  font-size: 1rem;
  text-decoration: none;
  transition-duration: .2s;
  transition-timing-function: linear;
}
.footer-menu-rebase a:hover {
  color: #ffc107;
  font-size: 1.2rem;
}

.footer-btn-container button{
  width: 98%;
  margin: auto auto;
}
.footer-btn-container h1 {
  color: #ccc;
}